.minicont{
    display: flex;
    flex-wrap:wrap;/*allows wrapping*/
    

    justify-content:center;
    gap:20px;
    width:100%;/*allows it to take full widht of info box*/
    min-height:fit-content;/*allows dynamic height*/

}


.mini-info{
    
    margin-top:50px;
    background-color: lightgray;
    border: 5px solid orange;
    border-radius:8px;
    
    height: 200px;
    min-height:fit-content;
    width: 600px;

   

    flex: 1 1 600px;
    align-self:center;/*allows wrapping*/
    max-width:600px;/*prevents stretching*/
    
    

}
.browseDisplay{
    margin-top:50px;
    background-color: lightgray;
    border: 5px solid orange;
    border-radius:8px;
    
    height: auto;
    min-height:fit-content;
    width: 100%;
    max-width: 600px;

   flex:1 1 300px;

    
    align-self:center;/*allows wrapping*/
    max-width:600px;/*prevents stretching*/
}